.fleet {
  height: 847px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
    font-family: loraBold;
    font-size: 50px;
    color: var(--brown);
    margin-bottom: 64px;
  }
}
.fleet-container {
  width: 1192px;
  height: 604px;
  position: relative;
}
.fleet-swiper {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  .swiper-wrapper {
    position: absolute;
    left: 0;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 378px;
    height: 468px;
    box-sizing: border-box;
    box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--creamy);
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination{
    margin-bottom: 50px;
  }
}
.right-nav,
.left-nav {
  background-color: var(--creamy);
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  z-index: 200;
  bottom: 60%;
  cursor: pointer;
}
.right-nav {
  left: 98%;
}
.fleet-itmes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    color: var(--brown) !important;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 30px;
  }
  p {
    font-size: 12px;
    margin-bottom: 22px;
  }
  img {
    width: 311px;
    height: 160px;
  }
}
.fleet-text {
  text-align: start;
  padding: 0 40px;
}
.fleet-deatails {
  display: flex;
  justify-content: space-between;
  padding: 0 36px;
}
.luggage,
.seats {
  display: flex;
  gap: 18px;
  img {
    width: 24px !important;
    height: 24px !important;
  }
}
@media (max-width: 768px) {
  .right-nav{
    left: 90%;
  }
}
