@import "tailwindcss";
@import "./global.css";
@import "./header.css";
@import "./info.css";
@import "./about.css";
@import "./services.css";
@import "./fleet.css";
@import "./events.css";
@import "./footer.css";
@import "./testimonials.css"