.info{
    background-color: #FAFAFA;
    width: 100%;
    height: 760px;
    direction: rtl;
    position: relative;
    img{
        z-index: 9;
        position: absolute;
        width: 668px;
        height: 842px;
        bottom: 88px;
    }
}
.info-car{
    img{
        margin-bottom: 50px;
        width: 832px;
        height: 503px;
        margin-right: -30px;
    }
}
.info-deatails{
    display: flex;
    justify-content: space-between;
}
.info-text{
    width: 400px;
    height: min-content;
    position: relative;
    border-left: 9px solid var(--creamy);
    display: flex;
    justify-content: center;
    top: 193px;
    pre{
        direction: ltr;
        font-weight: 700;
        line-height: 100%;
        font-family: loraBold;
        color: var(--dark-blue);
        font-size: 56px;
        width: inherit;
        height: inherit;
    }
}
.info-car__mob{
    display: flex;
    position: relative;
    width: 100%;
    img{
        display: none;
        position: absolute;
        top: 60%;
        /* width: 500px; */
        height: 600px;
    }
}
@media (max-width: 768px) {
    .info{
        height: 698px;
        img{display: none;}
    }
    .info-text{
        top: 58px;
    }
    .info-car__mob{
        img{
            display: block !important;
        }
    }
    .info{
        .container{
            padding-right: 0;
        }
    }
}