.services{
    width: 100%;
    height: 755px;
    background-image: url(/public/assets/images/bcg-services.webp);
    display: flex;
}
.service-container {
}
.services-title{
    color: var(--brown);
}
.services-features{
    display: flex;
    gap: 143px;
    justify-content: center;
    div{
        width: 303px;
        color: white;
        text-align: center;
        h3{
            font-family: notoBold;
            line-height: 24px;
            font-size: 24px;
            font-weight: 700;
            width: max-content;
            margin: 56px 0;
        }
        p{
            font-family: notoRegular;
        }
    }
}